
.card {
    padding: 5px;
    border-radius: 10px;
    height: 260px;
    margin: auto;
}

.card img {
    border-radius: 10px;
    object-fit: cover;
    padding: 5px;
    width: 190px;
    height: 250px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}