
.card {
    float: right;
    padding: 5px;
    border-radius: 10px;
    height: 260px;
    margin: 1rem 2.9rem 0 0;
    background-size: cover;
    
}

.card img {
    border-radius: 10px;
    object-fit: fill;
    width: 190px;
    height: 250px;
    background-size: cover;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1)
}