.containerCards{
    display: flex;
    justify-content: stretch;
    background-color: blue;
}
.card {
    float: right;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.card img {
    object-fit: cover;
    padding: 5px;
    width: 190px;
    height: 250px;
    border-radius: 10px;
}

.meta {
    text-align: center;
    font-size: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}