.containerImg {
    padding: 0px;
    margin: 0px;
    height: 40rem;
    

}

.containerCards {
    display: flex;
    justify-content: space-around;
}

.containerBody {
    background-color: blue;
    height: 40rem
}
