.typeTitle {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.button {
    margin: 2rem 0 2rem 2rem; 
    width: 30%;
    height: 20%;   
}

.childrend {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    padding: 0 0 0 10px;
}
