.containerMenu {
    display: flex;
    flex-direction: row;
    background-color:#f0f2f5;
    justify-content: space-between;
}

.containercardsdogs {
    display: flex;
    flex-direction: row;
    width: 450px;
    margin: 0px;
}


.containersCardsdescriptions {
    margin: auto;
    width: 500px;
}
